<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Video bài giảng</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li>Chi tiết khoá học</li>
                        <li class="active">video</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- start course content container -->
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <video id="my-video"
                                                    class="video-js vjs-default-skin vjs-big-play-centered" controls
                                                    preload="auto" poster="MY_VIDEO_POSTER.jpg"
                                                    data-setup='{"fluid": true}'>
                                                    {{#if (eq check 1)}}
                                                    <source src="{{video.url}}" type="video/mp4" />
                                                    {{else}}
                                                    {{#if (eq video.isPreviewed true)}}
                                                    <source src="{{video.url}}" type="video/mp4" />
                                                    {{else}}
                                                    {{/if}}
                                                    {{/if}}
                                                    <source src="MY_VIDEO.webm" type="video/webm" />
                                                    <p class="vjs-no-js">
                                                        To view this video please enable JavaScript, and consider
                                                        upgrading to a
                                                        web browser that
                                                        <a href="https://videojs.com/html5-video-support/"
                                                            target="_blank">supports HTML5 video</a>
                                                    </p>
                                                </video>

                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h2>Bài {{num}}: {{video.title}}</h2>
                                                <h4>Danh sách bài học</h4>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th> Title </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#if (eq check 1)}}
                                                            {{#each course.videos}}
                                                            <tr
                                                                onclick="window.location='/course-video?idcourse='+'{{../course._id}}'+'&idvideo='+'{{_id}}'">
                                                                <td> {{lookup ../num_order @index}}. {{title}} </td>
                                                            </tr>
                                                            {{/each}}
                                                            {{else}}
                                                            {{#each course.videos}}
                                                            {{#if (eq isPreviewed true)}}
                                                            <tr
                                                                onclick="window.location.href='/course-video?idcourse='+'{{../course._id}}'+'&idvideo='+'{{_id}}'">
                                                                <td> {{lookup ../num_order @index}}. {{title}} </td>
                                                            </tr>
                                                            {{else}}
                                                            <tr>
                                                                <td> {{lookup ../num_order @index}}. {{title}} </td>
                                                            </tr>
                                                            {{/if}}
                                                            {{/each}}
                                                            {{/if}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end course content container -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>