<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Khoá học</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Khoá học</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- start course content container -->
                            <div class="mu-course-container">
                                <div class="row">
                                    {{#each list_courses}}
                                    <div class="col-md-6 col-sm-6">

                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="course-detail/{{_id}}"><img src="{{image}}" alt="img"></a>
                                                <figcaption class="mu-latest-course-imgcaption">
                                                    {{categoryChildName}}
                                                </figcaption>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4>{{name}}</h4>
                                                <p>Giảng viên: {{nameOwner}}</p>
                                                <p>{{description}}</p>
                                                <div class="mu-latest-course-single-contbottom">
                                                    <script>
                                                        $(function () {
                                                            $("#rateYo{{_id}}").rateYo()
                                                        });
                                                    </script>
                                                    <span class="mu-course-price" href="#">{{price}}</span>
                                                    <div id="rateYo{{_id}}" data-rateyo-rating="{{point}}"
                                                        data-rateyo-star-width="20px" data-rateyo-normal-fill="#e9e9e9"
                                                        data-rateyo-read-only="true" style="float: left;">
                                                    </div>
                                                    {{#if (eq num 0)}}
                                                    {{else}}
                                                    <span>({{num}})</span>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <!-- end course content container -->
                            <!-- start course pagination -->
                            <div class="mu-pagination">
                                <nav>
                                    <ul class="pagination">
                                        {{#if category_name}}
                                        <li style="{{isDisplayedPrevious current_page 1}}">
                                            <a href="list-courses?page={{predictPage current_page -1}}&category={{category_name}}"
                                                aria-label="Previous">
                                                <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        {{#each page_number}}
                                        <li><a style="{{isCurrentPage ../current_page this}}"
                                                href="list-courses?page={{this}}&category={{../category_name}}">{{this}}</a>
                                        </li>
                                        {{/each}}
                                        <li style="{{isDisplayedNext current_page page_number.length}}">
                                            <a href="list-courses?page={{predictPage current_page 1}}&category={{category_name}}"
                                                aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                        {{else}}
                                        <li style="{{isDisplayedPrevious current_page 1}}">
                                            <a href="list-courses?page={{predictPage current_page -1}}"
                                                aria-label="Previous">
                                                <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        {{#each page_number}}
                                        <li><a style="{{isCurrentPage ../current_page this}}"
                                                href="list-courses?page={{this}}">{{this}}</a></li>
                                        {{/each}}
                                        <li style="{{isDisplayedNext current_page page_number.length}}">
                                            <a href="list-courses?page={{predictPage current_page 1}}"
                                                aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                        {{/if}}

                                    </ul>
                                </nav>
                            </div>
                            <!-- end course pagination -->
                        </div>
                        <div class="col-md-3">
                            <!-- start sidebar -->
                            <aside class="mu-sidebar">
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>Danh mục</h3>
                                    <ul class="mu-sidebar-catg">
                                        {{!-- {{#each category}}
                                        <li class="main-nav-list">
                                            <a class="collapsed" data-toggle="collapse" href="#category{{_id}}"
                                                aria-controls="category">{{name}}</a>
                                            <ul class="collapse" id="category{{_id}}" data-toggle="collapse"
                                                aria-controls="category">
                                                {{#each categories}}
                                                <li>
                                                    <a
                                                        href="list-courses?page={{../../current_page}}&category={{name}}">
                                                        {{name}}
                                                    </a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                        {{/each}} --}}

                                        {{#each category}}
                                        <li><a href="#">{{name}}</a></li>
                                        {{#each categories}}
                                        <li style="margin-left: 10px;">
                                            <a href="list-courses?page={{../../current_page}}&category={{name}}">
                                                {{name}}
                                            </a>
                                        </li>
                                        {{/each}}
                                        {{/each}}
                                    </ul>
                                </div>
                                <!-- end single sidebar -->
                            </aside>
                            <!-- / end sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>