<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Tìm kiếm khoá học</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Tìm kiếm khoá học</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- start course content container -->
                            <div class="mu-course-container">
                                <div class="row">
                                    {{#each list_courses}}
                                    <div class="col-md-6 col-sm-6">

                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a style="height:229px; width:406px" href="course-detail/{{_id}}">
                                                <img src="{{image}}" alt="img" style="height:229px; width:406px"></a>
                                                <figcaption class="mu-latest-course-imgcaption">
                                                    {{categoryChildName}}
                                                </figcaption>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4>{{name}}</h4>
                                                <p>Giảng viên: {{nameOwner}}</p>
                                                <p>{{description}}</p>
                                                <div class="mu-latest-course-single-contbottom">
                                                    <script>
                                                        $(function () {

                                                            $("#rateYo{{_id}}").rateYo()

                                                        });
                                                    </script>
                                                    <span class="mu-course-price" href="#">{{price}}</span>
                                                    <div id="rateYo{{_id}}" data-rateyo-rating="{{point}}"
                                                        data-rateyo-star-width="20px" data-rateyo-normal-fill="#e9e9e9"
                                                        data-rateyo-read-only="true" style="float: left;">
                                                    </div>
                                                    {{#if (eq num 0)}}
                                                    {{else}}
                                                    <span>({{num}})</span>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <!-- end course content container -->
                            <!-- start course pagination -->
                            <div class="mu-pagination">
                                <nav>
                                    <ul class="pagination">
                                        {{#if sortbyprice}}
                                        <li style="{{isDisplayedPrevious current_page 1}}">
                                            <a href="list-courses?page={{predictPage current_page -1}}&search={{search}}&sortbyprice={{sortbyprice}}"
                                                aria-label="Previous">
                                                <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        {{#each page_number}}
                                        <li><a style="{{isCurrentPage ../current_page this}}"
                                                href="list-courses?page={{this}}&search={{../search}}&sortbyprice={{../sortbyprice}}">{{this}}</a></li>
                                        {{/each}}
                                        <li style="{{isDisplayedNext current_page page_number.length}}">
                                            <a href="list-courses?page={{predictPage current_page 1}}&search={{search}}&sortbyprice={{sortbyprice}}"
                                                aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                        {{else if sortbypoint}}
                                        <li style="{{isDisplayedPrevious current_page 1}}">
                                            <a href="list-courses?page={{predictPage current_page -1}}&search={{search}}&sortbypoint={{sortbypoint}}"
                                                aria-label="Previous">
                                                <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        {{#each page_number}}
                                        <li><a style="{{isCurrentPage ../current_page this}}"
                                                href="list-courses?page={{this}}&search={{../search}}&sortbypoint={{../sortbypoint}}">{{this}}</a></li>
                                        {{/each}}
                                        <li style="{{isDisplayedNext current_page page_number.length}}">
                                            <a href="list-courses?page={{predictPage current_page 1}}&search={{search}}&sortbypoint={{sortbypoint}}"
                                                aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                        {{else}}
                                        <li style="{{isDisplayedPrevious current_page 1}}">
                                            <a href="list-courses?page={{predictPage current_page -1}}&search={{search}}"
                                                aria-label="Previous">
                                                <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        {{#each page_number}}
                                        <li><a style="{{isCurrentPage ../current_page this}}"
                                                href="list-courses?page={{this}}&search={{../search}}">{{this}}</a></li>
                                        {{/each}}
                                        <li style="{{isDisplayedNext current_page page_number.length}}">
                                            <a href="list-courses?page={{predictPage current_page 1}}&search={{search}}"
                                                aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </nav>
                            </div>
                            <!-- end course pagination -->
                        </div>
                        <div class="col-md-3">
                            <!-- start sidebar -->
                            <aside class="mu-sidebar">
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>Sắp xếp</h3>
                                    <ul class="mu-sidebar-catg">
                                        <li><a href="/search-course?page={{current_page}}&search={{search}}&sortbyprice=ascending">Giá tăng dần</a></li>
                                        <li><a href="/search-course?page={{current_page}}&search={{search}}&sortbyprice=descending">Giá giảm dần</a></li>
                                        <li><a href="/search-course?page={{current_page}}&search={{search}}&sortbypoint=ascending">Điểm đánh giá tăng dần</a></li>
                                        <li><a href="/search-course?page={{current_page}}&search={{search}}&sortbypoint=descending">Điểm đánh giá giảm dần</a></li>
                                    </ul>
                                </div>
                                <!-- end single sidebar -->
                            </aside>
                            <!-- / end sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>