<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Khoá học của tôi</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Khoá học của tôi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- start course content container -->
                            <div class="mu-course-container">
                                <div class="row">
                                    {{#each list_courses}}
                                    {{#if (eq isCompleted 1)}}
                                    <div class="col-md-3 col-sm-3">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="course-detail/{{_id}}"><img src="{{image}}" alt="img"></a>
                                                <figcaption class="mu-latest-course-imgcaption">
                                                    {{categoryChildName}}
                                                </figcaption>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4>{{name}}</h4>
                                                <p>Giảng viên: {{nameOwner}}</p>
                                                <p>{{description}}</p>
                                                <div class="mu-latest-course-single-contbottom">
                                                    <span class="mu-course-price" href="#">{{price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="col-md-3 col-sm-3">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="course-detail/{{_id}}"><img src="{{image}}" alt="img"></a>
                                                <figcaption class="mu-latest-course-imgcaption">
                                                    {{categoryChildName}}
                                                </figcaption>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4>{{name}}</h4>
                                                <p>Giảng viên: {{nameOwner}}</p>
                                                <p>{{description}}</p>
                                                <div class="mu-latest-course-single-contbottom">
                                                    <span>
                                                            <i style="color: red;">Chưa hoàn thành</i>
                                                        </span>
                                                    <span class="mu-course-price" href="#">{{price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                            <!-- end course content container -->
                            <!-- start course pagination -->
                            <div class="mu-pagination">
                                <nav>
                                    <ul class="pagination">
                                        <li style="{{isDisplayedPrevious current_page 1}}">
                                            <a href="enrolled-courses?page={{predictPage current_page -1}}"
                                                aria-label="Previous">
                                                <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        {{#each page_number}}
                                        <li><a style="{{isCurrentPage ../current_page this}}"
                                                href="enrolled-courses?page={{this}}">{{this}}</a></li>
                                        {{/each}}
                                        <li style="{{isDisplayedNext current_page page_number.length}}">
                                            <a href="enrolled-courses?page={{predictPage current_page 1}}"
                                                aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end course pagination -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>