<!-- Start Slider -->
<section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="assets/img/slider/1.jpg" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Chào mừng đến với khoá học trực tuyến</h4>
            <span></span>
            <h2>Chúng tôi sẽ giúp bạn học</h2>
            <a href="#" class="mu-read-more-btn">Đọc tiếp</a>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="assets/img/slider/2.jpg" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Chất lượng</h4>
            <span></span>
            <h2>Giáo dục tốt nhất</h2>
            <a href="#" class="mu-read-more-btn">Đọc tiếp</a>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="assets/img/slider/3.jpg" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Dành riêng cho giáo dục</h4>
            <span></span>
            <h2>Giáo dục cho mọi người</h2>
            <a href="#" class="mu-read-more-btn">Đọc tiếp</a>
        </div>
    </div>
    <!-- Start single slider item -->
</section>
<!-- End Slider -->
<!-- Start service  -->
<section id="mu-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-service-area">
                    <!-- Start single service -->
                    <div class="mu-service-single">
                        <span class="fa fa-book"></span>
                        <h3>Học online</h3>

                    </div>
                    <!-- Start single service -->
                    <!-- Start single service -->
                    <div class="mu-service-single">
                        <span class="fa fa-users"></span>
                        <h3>Giảng viên chuyên nghiệp</h3>
                    </div>
                    <!-- Start single service -->
                    <!-- Start single service -->
                    <div class="mu-service-single">
                        <span class="fa fa-table"></span>
                        <h3>Bài tập đa dạng</h3>
                    </div>
                    <!-- Start single service -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service  -->

<!-- Start about us -->
<section id="mu-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="mu-about-us-left">
                                <!-- Start Title -->
                                <div class="mu-title">
                                    <h2>Về chúng tôi</h2>
                                </div>
                                <!-- End Title -->
                                <p>Đồ án về khoá học online</p>
                                <ul>
                                    <li>Gồm 2 thành viên</li>
                                    <li>Nguyễn Thái Học - 1712045</li>
                                    <li>Nguyễn Minh Quốc - 1712143</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mu-about-us-right">
                                <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs"
                                    target="mutube-video">
                                    <img src="assets/img/about-us.jpg" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about us -->

<!-- Start about us counter -->
<section id="mu-abtus-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-abtus-counter-area">
                    <div class="row">
                        <!-- Start counter item -->
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-abtus-counter-single">
                                <span class="fa fa-book"></span>
                                <h4 class="counter">568</h4>
                                <p>Khoá học</p>
                            </div>
                        </div>
                        <!-- End counter item -->
                        <!-- Start counter item -->
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-abtus-counter-single">
                                <span class="fa fa-users"></span>
                                <h4 class="counter">3500</h4>
                                <p>Học viên</p>
                            </div>
                        </div>
                        <!-- End counter item -->
                        <!-- Start counter item -->
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-abtus-counter-single">
                                <span class="fa fa-flask"></span>
                                <h4 class="counter">65</h4>
                                <p>Thí nghiệm online</p>
                            </div>
                        </div>
                        <!-- End counter item -->
                        <!-- Start counter item -->
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-abtus-counter-single no-border">
                                <span class="fa fa-user-secret"></span>
                                <h4 class="counter">250</h4>
                                <p>Giảng viên</p>
                            </div>
                        </div>
                        <!-- End counter item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about us counter -->

<!-- Start features section -->
<section id="mu-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-features-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                        <h2>Danh sách lĩnh vực được đăng ký nhiều</h2>
                    </div>
                    <!-- End Title -->
                    <!-- Start features content -->
                    <div class="mu-features-content">
                        <div class="row">
                            {{#each viewCategory}}
                            <div class="col-lg-4 col-md-4  col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-book"></span>
                                    <h4>{{name}}</h4>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <!-- End features content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End features section -->

<!-- Start latest course section -->
<section id="mu-latest-courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-latest-courses-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                        <h2>Khoá học mới nhất</h2>
                    </div>
                    <!-- End Title -->
                    <!-- Start latest course content -->
                    <div id="mu-latest-course-slide" class="mu-latest-courses-content">
                        {{#each newCourse}}
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="mu-latest-course-single">
                                <figure class="mu-latest-course-img">
                                    <a style="height:180px;" href="course-detail/{{_id}}">
                                        <img style="height:229px;" src="{{image}}" alt="img"></a>
                                    <figcaption class="mu-latest-course-imgcaption">
                                        <a href="#">{{categoryChildName}}</a>
                                    </figcaption>
                                </figure>
                                <div class="mu-latest-course-single-content">
                                    <h4><a href="#">{{name}}</a></h4>
                                    <p>Giảng viên: {{nameOwner}}</p>
                                    <p>{{description}}</p>
                                    <div class="mu-latest-course-single-contbottom">
                                        <script>
                                            $(function () {
                                                $("#rateNewCourse{{_id}}").rateYo()
                                            });
                                        </script>

                                        <span class="mu-course-price" href="#">{{price}}</span>
                                        <div id="rateNewCourse{{_id}}" data-rateyo-rating="{{point}}"
                                            data-rateyo-star-width="20px" data-rateyo-normal-fill="#e9e9e9"
                                            data-rateyo-read-only="true" style="float: left;">
                                        </div>
                                        {{#if (eq num 0)}}
                                        {{else}}
                                        <span>({{num}})</span>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <!-- End latest course content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest course section -->

<!-- Start from blog -->
<section id="mu-from-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-from-blog-area">
                    <!-- start title -->
                    <div class="mu-title">
                        <h2>Khoá học nổi bật</h2>
                    </div>
                    <!-- end title -->
                    <!-- start from blog content   -->
                    <div class="mu-from-blog-content">
                        <div class="row">
                            {{#each courseHightlight}}
                            <div class="col-md-4 col-sm-4">
                                <div class="mu-latest-course-single" style="background-color: #f8f8f8;">
                                    <figure class="mu-latest-course-img">
                                        <a style="height:229px;" href="course-detail/{{_id}}">
                                            <img style="height:229px;" src="{{image}}" alt="img"></a>
                                        <figcaption class="mu-latest-course-imgcaption"
                                            style="background-color:  #f0f0f0;">
                                            <a href="#">{{categoryChildName}}</a>
                                        </figcaption>
                                    </figure>
                                    <div class="mu-latest-course-single-content">
                                        <h4><a href="#">{{name}}</a></h4>
                                        <p>Giảng viên: {{nameOwner}}</p>
                                        <p>{{description}}</p>
                                        <div class="mu-latest-course-single-contbottom">
                                            <script>
                                                $(function () {
                                                    $("#rateHighLightCourse{{_id}}").rateYo()
                                                });
                                            </script>

                                            <span class="mu-course-price" href="#">{{price}}</span>
                                            <div id="rateHighLightCourse{{_id}}" data-rateyo-rating="{{point}}"
                                                data-rateyo-star-width="20px" data-rateyo-normal-fill="#e9e9e9"
                                                data-rateyo-read-only="true" style="float: left;">
                                            </div>
                                            {{#if (eq num 0)}}
                                            {{else}}
                                            <span>({{num}})</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}

                        </div>
                    </div>
                    <!-- end from blog content   -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End from blog -->

<!-- Start from blog -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <!-- start title -->
                    <div class="mu-title">
                        <h2>Khoá học được xem nhiều nhất</h2>
                    </div>
                    <!-- end title -->
                    <!-- start from blog content   -->
                    <div class="mu-course-container">
                        <div class="row">
                            {{#each viewCourse}}
                            <div class="col-md-3 col-sm-3">
                                <div class="mu-latest-course-single">
                                    <figure class="mu-latest-course-img">
                                        <a style="height:150px;" href="course-detail/{{_id}}">
                                            <img style="height:150px;" src="{{image}}" alt="img"></a>
                                        <figcaption class="mu-latest-course-imgcaption">
                                            <a href="#">{{categoryChildName}}</a>
                                        </figcaption>
                                    </figure>
                                    <div class="mu-latest-course-single-content">
                                        <h4><a href="#">{{name}}</a></h4>
                                        <p>Giảng viên: {{nameOwner}}</p>
                                        <p>{{description}}</p>
                                        <div class="mu-latest-course-single-contbottom">
                                            <script>
                                                $(function () {
                                                    $("#rateViewCourse{{_id}}").rateYo()
                                                });
                                            </script>

                                            <span class="mu-course-price" href="#">{{price}}</span>
                                            <div id="rateViewCourse{{_id}}" data-rateyo-rating="{{point}}"
                                                data-rateyo-star-width="20px" data-rateyo-normal-fill="#e9e9e9"
                                                data-rateyo-read-only="true" style="float: left;">
                                            </div>
                                            {{#if (eq num 0)}}
                                            {{else}}
                                            <span>({{num}})</span>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <!-- end from blog content   -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End from blog -->