<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Chỉnh sửa nội dung khoá học</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/mange-courses">Quản lí khóa học</a></li>
                        <li class="active">Chỉnh sửa nội dung khoá học</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- start course content container -->
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="#">
                                                    {{#unless newImage}}
                                                    <img src="{{course.image}}" alt="img">
                                                    {{else}}
                                                    <img src="{{newImage}}" alt="img">
                                                    {{/unless}}
                                                </a>
                                                <br />
                                                <div style="margin-left: 20px;">
                                                    <form action="/upload" method="post" enctype="multipart/form-data">
                                                        <input class="form-control-file" type="file" accept="image/*"
                                                            name="photo">
                                                        <br />
                                                        <input class="btn mt-3" type="submit" value="Submit">
                                                    </form>
                                                </div>
                                            </figure>

                                            <div class="mu-latest-course-single-content">
                                                <p style="float: left;">
                                                    Categories Root:
                                                </p>
                                                <select style="margin-left: 50px;" class="selectpicker" id="sp1">
                                                    {{#each categories}}
                                                    <option value={{_id}}>{{name}}</option>
                                                    {{/each}}
                                                </select>
                                                <br /> <br />
                                                <p style="float: left;">
                                                    Sub-categories:
                                                </p>
                                                <select style="margin-left: 58px;" class="selectpicker" id="sp2">
                                                    {{#each categories}}
                                                    {{#each categories}}
                                                    <option value={{name}}>{{name}}</option>
                                                    {{/each}}
                                                    {{/each}}
                                                </select>
                                                
                                                <h2 style="text-align: right;">
                                                   
                                                </h2>
                                                <h4>Thông tin khoá học</h4>
                                                <ul>
                                                    <li> <span>Mô tả ngắn gọn</span>
                                                        <input value="{{course.description}}" />
                                                    </li>
                                                    <li> <span>Học phí</span>
                                                        <input value="{{course.price}}" /></li>
                                                </ul>


                                                <h4>Mô tả chi tiết</h4>
                                                <textarea id="w3review" name="w3review" rows="4" cols="50">
{{course.detail}}
                                                </textarea>


                                                <h4>Thông tin giáo viên</h4>
                                                <ul>
                                                    <li> <span>Họ và tên</span>
                                                        <span>{{course.name_owner}}</span>
                                                    </li>
                                                    <li> <span>Email</span> <span>{{course.email_owner}}</span>
                                                    </li>
                                                </ul>
                                                <h4>Đề cương môn học</h4>
                                                <div class="table-responsive">
                                                    <table class="table">

                                                        <thead>
                                                            <tr>
                                                                <th> Tiêu đề </th>
                                                                <th><a style="float: right;">Thêm tiêu đề <i
                                                                            class="fa fa-plus"
                                                                            aria-hidden="true"></i></a>
                                                                </th>
                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            {{#if (eq check 1)}}
                                                            {{#each course.videos}}
                                                            <tr
                                                                onclick="window.location.href='/course-video?idcourse='+'{{../course._id}}'+'&idvideo='+'{{_id}}'">
                                                                <td> {{lookup ../num_order @index}}. {{title}}
                                                                </td>
                                                            </tr>
                                                            {{/each}}
                                                            {{else}}
                                                            {{#each course.videos}}
                                                            {{#if (eq isPreviewed true)}}
                                                            <tr
                                                                onclick="window.location.href='/course-video?idcourse='+'{{../course._id}}'+'&idvideo='+'{{_id}}'">
                                                                <td> {{lookup ../num_order @index}}. {{title}}
                                                                </td>
                                                            </tr>
                                                            {{else}}
                                                            <tr>
                                                                <td> {{lookup ../num_order @index}}. {{title}}
                                                                </td>
                                                            </tr>
                                                            {{/if}}
                                                            {{/each}}
                                                            {{/if}}

                                                        </tbody>
                                                    </table>
                                                    <button style="float:right; background-color:white"
                                                        class="btn btn-primary">
                                                        <a style="color:black; " href="/edit-course/{{course._id}}">Hủy
                                                            yêu cầu</a></button>
                                                    <button style="float:right; margin-right:20px"
                                                        class="btn btn-primary">
                                                        <a style="color:white" href="/edit-course/{{course._id}}">Chập
                                                            nhận chỉnh sửa</a></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>